{% extends 'base/base.html' %}

    {% block content %}
    {% load staticfiles %}
    <div class="container-fluid text-center">
         <div class="missionstatement">    
          <div class="row content">
           <div class="text-left"> 
              <h1>Colofon</h1>
              
              
              
              <hr>

              <br>
              <p>Benieuwd naar onze andere <a href="http://localhost:8000/partners/">partners?</a></p>
              </div>
            </div>
        </div>
    </div>
    {% endblock %}
