{% extends 'base/base.html' %}



    {% block content %}   
    {% load staticfiles %}
              
      <div id="ninja-slider">
        <div class="inner">
            <ul>
                <li><a href="stories"><img class="ns-img" src="{% static 'home/SLIDER1.png' %}" style="cursor:pointer;"></a></li>
                <li><a href="https://www.facebook.com/DaretobeGrey/?fref=ts"><img class="ns-img" src="{% static 'home/SLIDER2.png' %}" style="cursor:pointer;"></a></li>
                <li><a href="iamgrey"><img class="ns-img" src="{% static 'home/SLIDER3.png' %}" style="cursor:pointer;"></a></li>
            </ul>
        </div>
    </div>
              

      
        <div class="container-fluid text-center">
         <div class="missionstatement">    
          <div class="row content">
           <div class="text-left">
            <div class="campaignHeader">
                        <br><br><br>
                          <hr>
                          <div class="col-md-8 col-xs-12 col-sm-12 agendaframe">
                          
                          <iframe  frameborder="2" align="center"
                            src="https://www.youtube.com/embed/Q79-vdCJWhY">
                          </iframe>
                          </div>
                          <div class="col-md-4 col-xs-12 col-sm-12 justifyText">
                          <p>De campagne <strong>Dare to be Grey</strong> staat voor iedereen in het midden van de samenleving met al zijn meningen en persoonlijkheden. Ga voorbij aan zwart-wit denken en kies ook jouw kleur in het grijze! Dare to be Grey!</p>
                          </div>
                          <br>
                          </hr> 
                          <hr>
                        </div>
                        </div>
                    </div>
                </div>
            </div>


        
        <span>
            <div class="row socialFeedBlock"> 
                <div class="col-md-4 col-xs-12 col-sm-6 agendaframe">
                <div class="titlebox text-center">
                <h3>Agenda</h3>
                </div>
                <br>
                <div class="eventlist feedFrame">
                {% for event in latest_event_list %}
                    <img class="scale-with-grid" src="{{ event.image.url }}" alt ={{ event.image_title }} />
                    <h3><a href="{{ event.link }}">{{ event.title }}</a></h3>
                    <p><strong> {{ event.date_event }} </strong></p>
                    <p>{{ event.description }}</p>         
                {% endfor %}
                </div>
                </div>
                    <div class="col-md-4 col-xs-12 col-sm-6 facebookframe">
                        <div class="titlebox text-center" >
                        <h3> Facebook</h3>
                        </div>
                        <br>
                        <div class="feedFrame">
                        <div class="fb-page" data-width="420"data-height="600" data-href="https://www.facebook.com/DaretobeGrey/?notif_t=page_fan&amp;__mref=message_bubble" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/DaretobeGrey/?notif_t=page_fan&amp;__mref=message_bubble"><a href="https://www.facebook.com/DaretobeGrey/?notif_t=page_fan&amp;__mref=message_bubble">Dare to be Grey</a></blockquote>
                        </div>  </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 col-sm-6 twitterframe"> 
                        <div class="titlebox text-center">
                            <h3>Twitter</h3>
                        </div>
                        <br>
                        <div class="feedFrame">
                        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/DaretobeGrey" data-widget-id="704988734316519424">Tweets door @DaretobeGrey</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                        </div>
                    </div>      
                    
            </div> 
        </span>
        {% endblock %}