<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html lang="en">
<head>
    <title>Dare to be grey</title>           
	
    <meta name="author" content="Alex Wittebrood">
    <meta name="author" content="Benjamin Oosterom">
     
    {% load staticfiles %}     
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}" />
    
</head>
<body>
    <nav> 
        <ul>
            <li><a href="#Home">Dare 2b grey</a></li>
            <li><a href="http://bascoo.pythonanywhere.com/polls/">Polls</a></li>  
            <li><a href="http://bascoo.pythonanywhere.com/contact/">Contact</a></li>
        </ul>
    </nav>

<p>My Content</p>    
</body>
</html>