{% extends 'base/base.html' %}

    {% block content %}
       <div class="container-fluid text-center">
             <div class="missionstatement">    
              <div class="row content">
               <div class="text-left"> 
                  <h1>50 Kleuren Grijs</h1>
                  <p>In de ‘50 kleuren grijs’ serie worden verschillende persoonlijke verhalen uit het grijze midden verteld. Check hier het nieuwste verhaal!</p>
                  <hr>
                  <iframe src="http://www.youtube.com/embed/?listType=user_uploads&list=DRAKEVEVO" width="600" height="400"></iframe>   
                </div>
            </div>
        </div>
      </div>
    {% endblock %}
