{% extends 'base/base.html' %}

    {% block content %}
       <div class="container-fluid text-center">
             <div class="missionstatement">    
              <div class="row content">
               <div class="text-left"> 
                  <h1>50 Kleuren Grijs</h1>
                  <div class="justifyText">
                  <p>In de serie 50 Kleuren Grijs laten wij mensen aan het woord die zich iedere dag inzetten om het grijze in de samenleving kleur te geven. Of het nu gaat om het vertellen van verhalen of het actief verbinden van mensen, om kleine of grote daden, om bekend of onbekend Nederland, iedereen weet op zijn of haar eigen manier een bijdrage te leveren.</p><p> Wil je ons laten weten hoe je het nieuwe grijs uitdraagt? Neem dan contact met ons op via de mail en wie weet wordt ook jij een van de nieuwe 50 kleuren grijs.</p>
                  </div>
                  <hr>
                  <iframe src="http://www.youtube.com/embed/?listType=user_uploads&list=DRAKEVEVO" width="600" height="400"></iframe>   
                </div>
            </div>
        </div>
      </div>
      <br>
      <br>
    {% endblock %}
