<html lang="en">
    {% load staticfiles %}   
	<head>
	    <title>Dare to be grey</title>      
		
	    <meta name="author" content="Alex Wittebrood">
	    <meta name="author" content="Benjamin Oosterom">
	    
	    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	    
	    {% load staticfiles %}     
	    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'home/style2.css' %}" />
	    <link rel="stylesheet" type="text/css" href="{% static 'home/js-image-slider.css' %}" />
	    <script src="{% static 'home/js-image-slider.js' %}" type="text/javascript"></script>
	        
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	    
        <link rel="icon" href="{% static 'home/tablogo.jpg' %}">
	</head>
	<body>

		<div id="fb-root"></div>
			<script>(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/nl_NL/sdk.js#xfbml=1&version=v2.5";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>
        
            <script>  $(window).scroll(function() {
                            var  mn = $(".showNav");
                                mo = $(".navbarScroll");
                                mns = "doNotShowNav";
                                hdr = $(".navbarStart").height();
                          if( $(this).scrollTop() > 49 ) {
                            <!--mn.addClass(mns);  -->
                            mo.removeClass(mns);
                          } else {
                          <!--  mn.removeClass(mns); -->
                            mo.addClass(mns);
                          }
                    }); </script> <!-- switch navbar --> 
        
        <nav class="navbar navbarStart navbar-inverse showNav">
              <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                  </button>
                  <div class="logo">
                    <a href="http://localhost:8000/"><img src="{% static 'home/logo.jpg' %}" /></a>   
                  </div>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                  <ul class="nav navbar-nav navbar-right startItemList">
                    <li><a href="http://localhost:8000/aboutus">Over ons</a></li>
                    <li><a href="http://localhost:8000/stories/">50Verhalen</a></li>
                    <li><a href="http://localhost:8000/blog/">Themaweek</a></li>
                    <li><a href="http://localhost:8000/contact/">Contact</a></li>
                  </ul>
                  <ul class="navbar-nav navbar-right socialIconList">
                    <li><a href="#"><img src="{% static 'home/YoutubePicto.jpg' %}" /></a></li>
                    <li><a href="#"><img src="{% static 'home/FacebookPicto.jpg' %}" /></a></li>
                    <li><a href="#"><img src="{% static 'home/TwitterPicto.jpg' %}" /></a></li>
                    <li><a href="#"><img src="{% static 'home/InstagramPicto.jpg' %}" /></a></li>
                    <li><a href="#"><img src="{% static 'home/MailPicto.jpg' %}" /></a></li>
                  </ul>
                </div>
              </div>
        </nav>
        
        <nav class="navbar navbarScroll navbar-inverse doNotShowNav">
              <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                  </button>
                  <div class="logo">
                    <a href="http://localhost:8000/"><img src="{% static 'home/logobottom.jpg' %}" /></a>   
                  </div>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                  <ul class="nav navbar-nav navbar-right itemList">
                    <li><a href="http://localhost:8000/aboutus">Over ons</a></li>
                    <li><a href="http://localhost:8000/stories/">50Verhalen</a></li>
                    <li><a href="http://localhost:8000/blog/">Themaweek</a></li>
                    <li><a href="http://localhost:8000/contact/">Contact</a></li>
                  </ul>
                </div>
              </div>
        </nav>

		
        <div class="row">
	 	{% block content %}
        {% endblock %}
        </div>
        
    
	<footer class="container-fluid text-center">
	  <p><strong>De campagne Dare to be Grey staat voor iedereen in het midden van de</strong></p>
      <p><strong>samenleving met al haar meningen en persoonlijkheden.</strong></p>
      <p><strong>Kies ook jouw kleur in het grijze!</strong></p>
      <p><strong>Dare to be Grey!</strong></p>

	  	<div class="fb-like" data-href="https://www.facebook.com/DaretobeGrey/?notif_t=page_fan&amp;__mref=message_bubble" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div> 
        <ul class="socialIconList socialFooter">
            <li><a href="#"><img src="{% static 'home/YoutubePicto.jpg' %}" /></a></li>
            <li><a href="#"><img src="{% static 'home/FacebookPicto.jpg' %}" /></a></li>
            <li><a href="#"><img src="{% static 'home/TwitterPicto.jpg' %}" /></a></li>
            <li><a href="#"><img src="{% static 'home/InstagramPicto.jpg' %}" /></a></li>
            <li><a href="#"><img src="{% static 'home/MailPicto.jpg' %}" /></a></li>
        </ul>
	</footer>

	</body>
</html>	
