h1 a {
    color: #FCA205;
}

.postList{
	width: 200px;
    min-height: 250px;
    border: 1px solid #000;
    display: inline-block;
    

}

.postlist img{
 	max-width: 80%;
    height: auto;   
}
.rowEvent{
	padding-top: 5%;
	padding-bottom: 5%;
}

body a { 

	padding-left: 20px;
}