.article {
    margin-left: 13%; 
    margin-right: 13%;
    padding-top: 28px;
    padding-bottom: 50px;
    }

.article img {
    margin-top: 20px;
    width: 60%;
    box-shadow: 0 0 5px grey;
    margin-right: 15px;
    float: left
}