.post img  { 
    max-width: 80%;
    height: auto;

}

.themaweekintro{
	padding-left: 10%;
}


.post p {
	max-width: 80%;
	height: auto;
}

.postList { 
    padding-left: 10%; 
    padding-right: 10%; 
}
