.post img  { 
    max-width: 80%;
    height: auto;
}

.pageContent {
    padding-top: 50px; 
}

.themaweekIntro {
    padding-left: 15%;
    padding-right: 15%;
}

.post p {
	max-width: 80%;
	height: auto;
}
