.post img  { 
    max-width: 80%;
    height: auto;
}

.pageContent {
    padding-top: 50px; 
}

.postList {
    padding-left: 5%;
}

.postList img {
    box-shadow: 0 0 5px grey;
}

.latestStory {
    padding-left: 7%;

}

.post p {
	max-width: 80%;
	height: auto;
}
