{% extends 'base/base.html' %}

        {% block content %}
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'blog/css/detailcss.css' %}" />
            <div class="article"> 
                <img class="scale-with-grid" src="{{ story.image.url }}" alt ={{ story.title }} />
                <h2>{{ story.title }} </h2> 
                <div class="justifyText">
                <p>{{ story.body|linebreaks }}</p>
                </div>
                 <hr>
                <p>{{ story.date_published }} | <strong> {{ story.author }}</strong></p>
                </div>
            </div>
        {% endblock %}