{% extends 'base/base.html' %}

    {% block content %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/liststyle.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}" />

        <div class="container-fluid text-center">
          <div class="missionstatement">
            <div class="row">     
                 <div class="text-left justifyText"> 
                     <h1>Ik ben... Grijs</h1>
                     <p> Met de Ik ben... fotoserie worden de vele gezichten van het grijze midden getoond en laat de grote kracht van het grijze spreken. De serie bestaat uit foto’s van de personen die we kennen uit de 50 Kleuren Grijs-serie, maar ook uit foto’s van jullie. Ook jij kan dus onderdeel worden van de Ik ben… fotoserie! Stuur daarvoor een foto met jouw grijze verhaal op naar info@daretobegrey.org of plaats het op Instagram met de hashtag #DaretobeGrey. Wie weet zie jij jezelf terug in onze landelijke campagne! </p>
                     <hr>
                     </div>
                </div>
            </div>
        </div>
        
        {% for story in latest_story_list %}
            {% if story == latest_story %}
                <div class="container-fluid text-center">
                    <div class="missionstatement">
                        <div class="row">     
                            <div class="text-left justifyText latestStory post"> 
                                {% if story.image.url %}
                                <img class="scale-with-grid" src="{{ story.image.url }}" alt ={{ story.title }} />
                                {% endif %}
                                <h3><a href="{% url 'iamgrey:detail' story.id %}">{{ story.title }}</a></h3>
                                <p> {{ story.date_published }} | <strong>by {{ story.author }} </strong></p>                                
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        
     <div class="missionstatement">
        {% for story in latest_story_list %}
            {% if story != latest_story %}
                <div class="postList" >
                <div class="col-md-4 col-xs-12 col-sm-6 post">
                    <br>
                    <img class="scale-with-grid" src="{{ story.image.url }}" alt ={{ story.title }} />
                    <h3><a href="{% url 'iamgrey:detail' story.id %}">{{ story.title }}</a></h3>
                    <p> {{ story.date_published }} | <strong>by {{ story.author }} </strong></p>
                    <p>{{ story.sec_title|linebreaks }}</p>           
                </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    
    {% endblock %}