{% extends 'base/base.html' %}

{% block content %}
{% load staticfiles %}



 <span>
    <div class="durfjijPage">

            <h1> Durf jij? </h1>
            <div class="row PetitionBlock"> 

                <div class= "col-md-8 cols-xs12 col-sm-12 justifyText">
                       <p> Dare to be Grey is een initiatief om polarisatie in de samenleving te doorbreken. Zwart-wit denkers
                        en hun extreme geluiden voeren steeds vaker de boventoon in het debat over de
                        vluchtelingenstroom en de plaats van de islam in de samenleving. Dare to be Grey wil laten zien dat
                        er een veel groter grijs midden is. Door een platform te creëren voor persoonlijke verhalen, geeft
                        Dare to be Grey iedereen met een grijze mening een stem. Samen gaan we voorbij aan zwart-wit
                        denken! Wil je hieraan meewerken?<p> 
                </div>
                
                <div class="col-md-4 col-xs-12 col-sm-6 petition">

                    {% if latest_question_list %}
                        <ul>
                        {% for question in latest_question_list %}
                            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                                <form action="{% url 'polls:vote' question.id %}" method="post">
                                {% csrf_token %}
                                    {% for choise in question.choise_set.all %}
                                        <div class="center">
                                        <p> <strong>AL {{ choise.votes }} ANDEREN GINGEN JE VOOR!</strong></p>
                                        <script>
                                            function fbShare(url, title, descr, image, winWidth, winHeight) {
                                                var winTop = (screen.height / 2) - (winHeight / 2);
                                                var winLeft = (screen.width / 2) - (winWidth / 2);
                                                window.open('http://www.facebook.com/sharer.php?s=100&p[title]=' + title + '&p[summary]=' + descr + '&p[url]=' + url + '&p[images][0]=' + image, 'sharer', 'top=' + winTop + ',left=' + winLeft + ',toolbar=0,status=0,width=' + winWidth + ',height=' + winHeight);
                                            }
                                        </script>
                                        <span>    <button class="btn btn-success" type="submit" name="choise" id="Choise{{ forloop.counter }}" value="{{choise.id}}" label="DARETOBEGREY" onclick="javascript:fbShare('https://www.facebook.com/DaretobeGrey/', 'Fb Share', 'Facebook share popup', 'http://goo.gl/dS52U', 520, 350)">KLIK HIER EN DEEL!</button> 
                                        <script> </script>
                                        <label for="choise{{ forloop.counter }}"></label></span>
                                        </div>
                                        
                                    {% endfor%}
                                </form>
                        {% endfor %}
                        </ul>
                    {% else %}
                        <p>No Petition available.</p>
                    {% endif %}
                </div>
                
            </div> 
            <div class="row Instarow">
                    <div id="insta-wrap">
                        <!-- SnapWidget -->
                        <iframe src="http://snapwidget.com/sc/?h=ZGFyZXRvYmVncmV5fGlufDE1MHwzfDN8fG5vfDV8bm9uZXxvblN0YXJ0fHllc3xubw==&ve=230316" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; height:150px"></iframe>

                    </div>
            </div>
            <div class="row GetFund">
                    <div class="col-md-8 col-xs-12 col-sm12 getfund justifyText">
                       <h3> Steun ons op Instagram </h3>
                       <p>Ben jij ook grijs en durf je dit iedereen te laten weten? Plaats dan een foto op Instagram met de hashtag #DaretobeGrey en kom ook in onze feed te staan!</p>
                       <h3>Donaties</h3>
                       <p> Dare to be Grey is een initiatief om polarisatie in de samenleving te doorbreken. Dit kunnen wij in ons eentje niet bereiken. Daarom kan de campagne wel wat hulp gebruiken! Wil jij ons meehelpen? Word dan donateur van Dare to be Grey! Bijdrages kunnen overgemaakt worden naar NL91INGB0702153931 ten name van ‘Dare to be Grey’.</p>
                   </div>
                    <div class="col-md-4 col-xs-12 col-sm12">
                        <div class="steunImg center">
                            <img src="{% static 'polls/images/steunDTBGrond.png' %}" alt="DaretobeGrey" >
                        </div>
                    </div>
              
            </div>

        


</span>
</div>

{% endblock %}