{% extends 'base/base.html' %}



    {% block content %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/liststyle.css' %}" />
    
    {% for post in latest_post_list %}
    <div class="postList">
        <div class="col-md-4 col-xs-12 col-sm-6 post">
            <br>
            <img class="scale-with-grid" src="{{ post.image.url }}" alt ={{ post.title }} />
            <h3><a href="{% url 'blog:detail' post.id %}">{{ post.title }}</a></h3>
            <p> {{ post.date_published }} | <strong>by {{ post.author }} </strong></p>
            <p>{{ post.sec_title|linebreaks }}</p>           
        </div>
    </div>
    {% endfor %}
    {% endblock %}