 /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      height: 5px;
    }
    
    .navbar-nav > li > a, .navbar-brand {
    padding-top:4px;
    padding-bottom:0;
    height: 28px;
    }
    .navbar {min-height:28px;
    }
    

    iframe:focus { 
    outline: center;
    }

    iframe[seamless] { 
    display: block;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 650px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    .titlebox {
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: black;
        color: white;

    }

    .missionstatement{ 
        padding-left: 15%;
        padding-right: 15%;

    }
    
    
    .agendaframe { 
        padding-left: 5%;
        padding-right: 1%;
        
    }

    .facebookframe{
        padding-left: 1%;
        padding-right: 1%;
    }

    .twitterframe{
        padding-left: 1%;
        padding-right: 5%;
    }
    
    .eventlist {
        overflow: auto; 
        max-height: 600px;
        padding-left: 10%;     
    }
    
    .eventlist img {
        max-width: 80%;
        height: auto;      
    }
    
    .logoHeader {
        height: 100px; 
        width: 100%;
        Background-color: #101010;
    }
    
    .logoHeader img { 
    height: 100%;
    width: 100%;
    }
    
    .{
        padding-bottom: 5%
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }