/* Remove the navbar's default margin-bottom and rounded borders */ 
    body{ 
    overflow-x: hidden; 
    }
    
    .navbar {
      background-color: black;
      padding-left: 10%;
      padding-right: 10%;
      margin-bottom: 0;
      border-radius: 0;
    }
    
    .navbarStart {
        min-height: 80px; 
        height: 80px;
    }
    
    .navbarScroll { 
        position: fixed; 
        top: 0px; 
        width: 100%; 
        z-index: 1; 
        min-height: 30px; 
        height: 30px;
    }
    
    .navbar-nav > li > a, .navbar-brand {
    padding-top:4px;
    padding-bottom:0;
    height: 10px;
    }
    
    .doNotShowNav {
        display: none;    
    }
    
    .startItemList {
        padding-top: 50px;
        
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 650px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
   
    
    .logo img {
        height: 100%; 
        width: auto;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }